body
{
    font-family: system-ui , 'Courier New', Courier, monospace;
    background-image: url("pizzap.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}
.wrapper
{
    width: 80%;
    margin: 2% auto;
}
.main{
    margin: auto 0;
    border-radius: 10px;
    display: flex;
    flex: content;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 3%;
    background-color:rgb(149, 204, 204) ;
    padding-bottom: 1%;
    align-items: flex-start;
}
.taskdesc
{
    margin: 1%;
    padding: 5px;
    text-justify: distribute-all-lines;
    color: aqua;
  
}
.main div
{
    border-radius: 10px;
    background-color:  rgb(236, 236, 236);
}

.sizes
{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-bottom: 1rem;
    /* background: rgb(230, 222, 222); */
}
.topping
{
    
    /* background-color: rgb(230, 222, 222); */
    display: flex; flex-direction: column;
    height: auto; padding: 0px 10px 0px 10px;
    
    flex-wrap: nowrap;
    align-self:stretch;
}
.delivery
{
    
    /* background-color: rgb(230, 222, 222); */
}
h2{
    text-align: center;
    text-decoration-line: underline;
}
h3{
    text-align: center;
    padding:0 2rem 0 2rem;
}
.ordersum
{
    margin: 1%;
    padding: 1%;
    width: 100;
    text-align: center;
    background-color: beige;
    border-radius: 10px 10px 0 0;
}
.ordersum div{
    text-align: left;
}
.Inputs 
{
   margin: 2%;
}
.topping .Inputs label
{
    display: inline-block;
    margin-bottom: 0.5em;
    width: 45%;
    text-align: left;
    margin-left: 2%;
}
.Inputs input
{
    margin-left: 6%;
    cursor: pointer;
}
#Ordersize,#toppings ,#pickup
{
    background-color: bisque;
}
.welcomecust
{
   
    padding: 1rem;
    max-width: 25rem;
}
.welcomecust input
{
   
    border-radius: 5px;
    height: 30px;
    border-color:rgb(149, 204, 204)  ;
}
.welcomecust label
{
    display:inline-block;
   
    color: rgb(149, 204, 204) ;
    font-weight: bolder;
}
#Ptotalcost
{
    font-weight: bolder;
    text-decoration: double underline;
    color: blue;
}
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    position: fixed;
}
.sizes .Inputs{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px black solid;
}
.sizes .Inputs label{
display: block;
    background-color: rgb(149, 204, 204);
    /* padding: 10px 20px; */
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid aqua;
cursor: grabbing;}
.sizes .Inputs label:hover{
box-sizing: border-box;
box-shadow: 0px 10px 10px rgba(0,0,0,.6);
}
  .sizes .Inputs input[type="radio"]:checked + label{
        /* background-color:#bfb; */
        border-color: #4c4;
        background-image: url('Pizzap.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .Pizza2_image
{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.Pizza4_image
{
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.Pizza6_image
{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.Pizza8_image
{
    width: 70px;
    height: 70px;
    border-radius: 60px;
}
#toppings{
    max-width: 20rem;
    overflow-wrap: break-word;
}
.getpizza
{
background: rgb(149, 204, 204);
border: 2px solid aqua;
padding: 1rem;
border-radius: 5px;
cursor: pointer;
margin-top: 4rem;
text-align: center;
}
.getpizza:hover{
    border: none;
    box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
#hellomasg
{
    max-width: 25rem;
    color: black;
    overflow-wrap: break-word;
    font-weight: 900;
}