body{
    width: 80%;
  
}
.main{
    margin: auto 0;
    display: flex;
    flex: content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: center;
    padding-top: 3%;
    background-color:rgb(149, 204, 204) ;
    padding-bottom: 4%;
}
.main div
{
    border-radius: 10px;
}

.sizes
{
    width: 25%;
    background: rgb(230, 222, 222);
}
.topping
{
    width: 20%;
    background-color: rgb(230, 222, 222);
    display: flex; flex-direction: column;
    height: auto; padding: 10px;
    
    flex-wrap: nowrap;
    align-self:stretch;
}
.delivery
{
    width: 20%;
    background-color: rgb(230, 222, 222);
}

.Inputs 
{
   margin: 2%;
}
.Inputs label
{
    display: inline-block;
    margin-bottom: 0.5em;
    width: 60%;
    text-align: left;
    margin-left: 2%;
}
.Inputs input
{
    margin-left: 6%;
}
