@charset "utf-8";
/* CSS Document */
table
{
	margin:0 auto;
}
body
{
	padding-top: 0.5%;
	background:#dcd9cd;
	margin-top:0;/*to remove the default margin so that wrapper start from the very top edge*/
}
#wrapper
{
	width:100%;
	height:auto;
	margin:auto;
}

header {
	 color: #ffffff; 
	/* background-color: rgb(237, 242, 247); */
	background-image: url("wallpaper.jpg"); 
	background-repeat: no-repeat; 
	background-size: 100%;
	background-position: bottom;
	/* opacity: 0.4; */
	width:100%;
	/* height: 150px; */
	/*background:#1a6827;*/
	border-bottom: solid 2px #0C018F;
	margin-bottom: 5px;
	float: left;
}
#logo
{

	position: relative;
	color:#000000;
	/* background:#ffffff; */
	/* padding:5px; */
	/* margin-bottom:5px; */
	float:left;
	overflow:hidden;
	
}
#lblDate
{
	color: #ffffff;
}
#Title_head
{
width:100%;
background:white;

}

nav
{
	opacity: 1;
	text-align:center;
	background-color: ;
	color:#FFA500;
}
nav ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}
nav ul li
{opacity: 1;
	display:inline-block;
	padding:0;
	margin:0;
	background:#fcfcfc;
	padding: 10px;
   
   width: 5%;

}
nav ul li:hover
{
	color:#ffffff;
background:#FFA500;
}
nav ul li a
{
	color:#0d0900;
	font-size:13px;
	/*font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;*/
	text-decoration:none;
	/* border-radius:8px;
	text-decoration:em;
	width: 3%; */
}
nav ul li a:hover
{

}
#hero
{align-items: center;
	justify-content: center;
	display: flex;
	width:100%;
	margin-top: 1%;
margin-bottom:2%;
text-align: center;
float:left;
height:150px;
background-color: #eadbf9;
}
#hero p{
	width: 25%;
	text-align: center;
	background-color: #ff0000;
	display: block;
}
#imagearea img
{
	width:100%;
	
}
section
{
	width:68%;
	height:auto;
	padding:1%;
	float:left;
	background:#fcfcfc;
}
article
{
	word-wrap:break-word;
	width:96%;
	margin:1%;
	padding:1%;
	background:#F4E8FF;
	height:auto;
	border-radius:10px;
		
}
article h3
{
	color:#ff0000;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
article p
{
	word-wrap:break-word;
	font-family:Georgia, "Times New Roman", Times, serif;
}
article img
{
	width: 32%;
	margin: 1%;
	border:  solid 10px white;
	height:250px;
}
.imgright
{
	float: right;
}
.imgleft
{
	float: left;
}
aside
{

	margin:0 1% 0% 1%;
	padding:1%;
	width:26%;
	background-image: url("coding.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	/* background:#F4E8FF; */
	float:left;
	border-radius:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	opacity: 0.7;
	font-size:100%;	
	word-wrap:break-word;/*contain word within the div aside*/
	
}
aside h3
{background-color: #dcd9cd;
	border-radius: 5px 5px 0 0;
	text-align: center;
		font-size:4vmin;/*to make your font size respond to the device size we can use the viewpoint size, 
	1vw=1% of the viewport width
	1vh=1% of viewport height
	1vmin=1% of viewport width or height whichever is smaller or bigger
	1vmax= 1% of viewport width or height whichever is smaller or bigger*//* CSS Document */
}
aside div
{
	background-color: #dcd9cd;
	padding: 2px;
}
#asidecontent ul li
{
	margin: 4% 2% 0 0;
	text-align: justify;
	
}

/* __________________________________________________________________________________ */
@media only screen and (max-width:480px)
{
	header{
		float:left;
		margin-bottom:5px;
		padding:0px;
		background-image: url();
	}
	nav{
		margin:0;
		width:100%;
		float:left;
		clear:left;/*ti bring it under logo div*/
		height:auto;
		background:#1a6827;
	}
	nav ul li{
		clear:left;/*each nav item will come under each other like a verticle menu bar*/
		padding:1%;
	}
	nav ul li a{
		width:90%;
		padding:1%;
		margin:0px auto;
		display:block;
		height:auto;
		border-bottom:solid 2px #0C018F;
		background:#dcd9cd;
		color:#128f01;
		text-align:center;
		border-radius:0px;
	}
    #logo{
		width:98%;
		padding:1%;
		height:auto;
		float:left;
		text-align:center;
		margin-bottom:10px;
		background:#414A4C;
	}
	#logo img {
		width:98%;
	}
	section
	{
		width:100%;
		float:left;
		height:auto;
	}
	article
	{
		padding:1%;
		margin:1%;
		width:96%;
		height:auto;
	}
	article img
{
	width: 98%;
}
	aside
	{
		width:98%;
		margin: 1% 0 1% 0 ;
		padding:0;
		float:left;
		padding:1%;
		background-image: url("coding.jpg");
		background-size: cover;
		height:auto;
	}
}