body
{   background-color: rgb(214, 244, 244);
    margin: 0 3% 0 3%;
    background-image: url("bgi.jpg");
    background-repeat: no-repeat;
    background-size: 94%;
    background-position:center;
    /* backface-visibility: ; */
}
p
{
    background:#ceddf5;
        /* margin-left: 5%; */
}
header
{
    background-color:rgb(192, 192, 228);
padding: 0.3%;
}
nav
{
    width: auto;
    background-color: rgb(238, 236, 232);
    /* padding-top: 0.2px; */
    padding-bottom: 0.2px;
}
header li{ align-content: buttom;
    display: inline-block;
    margin-right: 2%;
    background-color: antiquewhite;
}
li:hover{
background-color: black;
color: white;
padding: 0.1px;
}
nav ul
{
    list-style-type: none;
}
nav ul li a
{
    display:block;
    text-decoration: none;
}
table
{
    border: solid 2px black;
    width: 30%;
    }

    table thead tr{ 
        border: solid 2px black;
        background-color: rgb(81, 81, 50);
        color: white;
        text-align: center;
        font-weight: bolder;
        text-transform: uppercase;
    }
   table tbody tr{ 
    border: solid 2px black;
    background-color: rgb(228, 228, 208);
    }
    .boxes1
    {
        margin-left: 1%;
        width: 70%;
        height: 250px;
        border: solid 7px black;
background-image: url("boxes.jpg");
background-position: center;
background-repeat: no-repeat;
background-size:cover;
border-radius: 10px 10px 0 0;
text-decoration: underline;
    }
    .boxes1 span{
padding: 0px 5px 0 5px;
        margin: 10px 0px 0 10px;
        background-color: aliceblue;
    }