@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
body{
    font-family:Titillium Web,Roboto ,'Open Sans', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container
{
    width: 80%;
    background-color: aliceblue;
    border: double solid snow;
    padding: 2%;
    position: absolute;
}
.herobanner
{
    width: 96%;
    /* background-color: white; */
    margin: 1% 0 0% 0;
    border-radius: 4px;
}
.herobanner h1{
    margin: 0 0 30px;
	padding: 0;
	color: #055ac9;
	text-align: center;
}
.main{
    border-radius: 8px;
    width: 96%;
    background-color: white;
    padding: 5px;
    display: flex;
    align-content: center;
}
.wrapper{
    border-radius: 8px;
    width: 49%;
    background-color: aliceblue;
    padding: 0 5px 0 5px;
    margin: 0 2% 2% 2%;
    box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
}
.outputdiv
{border-radius: 8px;
    width: 44%;
    margin: 0 2% 2% 2%;
    padding: 0 5px 0 5px;
    box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.textinput{
    position: block;
    padding-top: 10px;
}
.textinput .textinputbody{
    padding-top: 5px;
    width: 100%;
    background-color: white;
    position: relative;
}
.textinput .textinputbody input{
    width: 97%;
	padding: 10px 0;
	font-size: 16px;
	color: #0775d6;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid rgb(24, 10, 10);
	outline: none;
	background: transparent;
    text-align: center;
}
.textinput .textinputbody label{
        position: absolute; 
	top:0;
	left: 0;
	padding: 10px 0 0 12px;
	font-size: 16px;
	color: #0775d6;
	pointer-events: none;
	transition: .5s;

}
.textinput .textinputbody input:focus ~ label{
    top: -20px;
	left: 0;
	color: #000000;
	font-size: 12px;
}

.chkheader
{
    width: 100%;
    background: white;
}
.chkheader h3{
    padding: 0;

}
.checkboxinput
{
    background: white;
    width: 95%;
    border-top: #4781d280 solid 2px;
    border-radius: 5px 5px 0 0;
    padding: 2%;

}
.chkpartition{
    width: 100%;
   padding-top: 2px;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: center;
}
.checkboxinput .chkpartition label{
    display: block;
    width: 25%;
}
.btnsub
{
    margin-bottom: 2%;
    padding: 4px;
    text-align: center;
}
.Btnsend
{
    width: 20%;
    padding: 5px;
    background: #4781d280;
    color: white;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}
.Btnsend:hover{
border-bottom: 5px solid #055ac9;
}
.outputname
{
    border-bottom: solid 2px #055ac9;
}
.outputname h2{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3e76c0;
    font-weight: bold;
}

.outputadvert
{
    background: url('pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 63vh;
    overflow: hidden;
    margin-top: 1rem;
}
.outputmessage
{   padding: 4px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: #1265d1;
    font-size:medium;
}

