@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
:root {
  --blue-color: #1d91ed;
  --light-yellow: #f5f3c4;
  --pinkish-color: #d6cae8;
  --logo: url("assets/Logo.png");
  --gradient: linear-gradient(
    to right top,
    #f3f376b7,
    #2f2f10b7,
    #ad2709ee,
    #40e459e6,
    #4014d0b7,
    #f592ca
  );
  --font-article: verdana, "lucida grande", futura, "Courier New";
  --font-header: Georgia, Arial, Helvetica;
  --font-otherheader: "Helvetica Neue", sans-serif;
  --font-button: sans-serif, verdana;
  --font-body: roboto, helvetica, calibri, garamond, electra;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overscroll-behavior: none;
  scroll-behavior:smooth;
}
body {
  font-family: Titillium Web, Roboto, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
h2 {
  padding: 2rem;
  font-family: Georgia, Arial, Helvetica;
  font-size: 24px;
  text-transform: capitalize;
}
h3 {
  margin: 2rem;
}
header {
  display: grid;
  grid-template-columns: repeat(6 1fr);
  color: #ffffff;
  background: url("assets/headertr.png") no-repeat black;
  background-size: 45%;
  background-position: right;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2vh;
  top: 0;
  position: sticky;
}
.bg {
  background-color: #f5f3c4;
  color: black;
}
.bg a {
  color: black;
}
.bg nav ul li:hover{
  border: #000000 3px solid;
}
.logo {
  display: grid;
  grid-row: 1 / span 2;
  /* background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: cover; */
}
.imglogo {
  border-radius: 45%;
  width: 100%;
  animation-name: spinning;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}
@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
.myname {
  text-align: center;
  display: grid;
  grid-column: 2 / span 6;
  grid-row: 1 / 1;
}
nav {
  display: grid;
  grid-column: 2 / span 6;
  justify-items: center;
}
#mobilebtn {
  display: none;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 2rem;
}

nav ul li:hover {
  cursor: pointer;
  font-size: 16px;
  background-color: var(--light-yellow);
  border-bottom: double 1px solid var(--blue-color);
  color: black;
}

nav ul li a:hover {
  color: black;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
section {
  min-height: 100vh;
  color: #fff;
}
section:first-child {
  background-color: #546cac;
}
.bannerintro{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 50vh;
  background-image: url('Assets/wallpaper.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 55px;
}
.bannerintro h1{
  text-transform: uppercase;
  padding: 2rem;
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 50vh;
  font-family: sans-serif;
}
/*   for button */
.btn {
  cursor: pointer;
  background-color: #f5f3c4;
  font-family: sans-serif, Cambria, Cochin;
  padding: 1rem;
  border-radius: 5px;
}

footer {
  background-color: black;
  border-radius: 0 0 10px 10px;
  height: 10vh;
  color: white;
  text-align: center;
  padding: 1rem;
}
.backtoptop {
  position: fixed;
  bottom: 2rem;
  display: none;
}
.modalhide {
  display: none;
}

.showmodal
{
  display: block;
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #7a88ad;
}
.modal-contents {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 50vh;
  min-width: 50vw;
  padding: 3rem;
  border-radius: 10px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
}

.three{
  background-color:#8F1C1C;
}
/* --------------------------------------media starts here------------------------------------- */

/* -------------------------------------About me section --------------------------- */
.skillsection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
 }
.skillsection h2{
  color: #000000;
}
.whoam_i{
  color: #000000;
  padding: 2rem;
  border: 2px #6cb7f5 solid;
}
.classcontainer{
  color: #6cb7f5;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 80%;
}
.skill {
  width: 100%;
  background-color: #ddd;
}
.skillStatus{
  width:70%;
}
.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.classcontainer:hover .skills{
  animation-name: spinning;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}

.html {
  width: 95%; 
  background-color: black;}

.css {width: 85%; 
  background-color: #6cb7f5;}
.js {width: 75%; 
  background-color: #6cb7f5;}
.figma {width: 72%; 
  background-color: #6cb7f5;}
  .skillname{
    margin-top: 2rem;

  }
/* -------------------------------------About me section end--------------------------- */

/*---------------------------------- image gallery css---------------------------------------------- */

.thumbnail {
  float: left;
  width: 25%;
  padding: 10px;
}


.thumbnail img {
  opacity: 0.8; 
  cursor: pointer; 
}

.thumbnail img:hover {
  opacity: 1;
}

.expandedImg{
width:60%
}
.thumbnails:after {
  content: "";
  display: table;
  clear: both;
}

.BigImg {
  position: relative;
  display: none;
  transition: ease-in-out 2s;
  animation-name: fade;
  animation-duration: 2s;
  justify-content: space-evenly;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#imgtext {
  position: absolute;
  bottom: 15px;
  width: 55%;
  text-align: left;
  color: white;
  font-size: 20px;
}

.closebtn {
  position: absolute;
  padding-left: 2rem;
  top: 10px;
  text-align: right;
  width: 55%;
  color: white;
  font-size: 80px;
  cursor: pointer;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 21%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 21%;
  border-radius: 3px 0 0 3px;
}
/* -----------------------image gallery css ends here -----------------------------*/

/* ---------------------------------------Contact Section starts here ------------------------------------------------*/

.Contact_box {
  background: #6cb7f5;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin-top: 2rem;
}

.message {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.msginputside {
  padding: 2rem;
  width: 30%;
}
.user-box {
  position: relative;
}

.Contact_box .user-box input {
  width: 100%;
  padding: 10px 0 0 90px;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.Contact_box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.Contact_box .user-box input:focus ~ label {
  top: -20px;
  left: 0;
  color: #000000;
  font-size: 12px;
}

.text_area {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

textarea {
  overflow: hidden;
  border-bottom: #038188 solid 3px;
  color: #03e9f4;
  width: 40%;
  box-sizing: border-box;
}

.sendbtn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.send {
  position: relative;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  border-radius: 5px;
  text-align: center;
}

.send:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
}

.send span {
  position: absolute;
  display: block;
}

.send span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.send span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.social{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.contactinfo{
  display: flex;
  flex-direction: column;
  gap:2rem;
border-right: 3px solid white;
padding: 2rem;
}
.phone{
  display: inline-flex;
}
.socialmedia{
  width:250px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}
.fa {
  padding: 4px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin:  5px 0px 0px 0px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

/* ----------------------------------------------contact ends here ----------------------------------- */

/* ------------------------------------------------projects starts -------------------------------------- */

.statistics2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 90px);
  grid-gap: 1rem;
  background-color: var(--blue-color);
  border-radius: 10px;
  color: white;
}
.statisticsdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-right: 2px solid var(--light-yellow);
  padding: 10px;
}

.circle {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  height: 100%;
  width: 28%;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  color: black;
  background-color: var(--light-yellow);
  border: var(--blue-color) 2px solid;
  perspective: 400px;
  transition: 2s;
}
.circle:hover{
  transition: 2s;
animation: circle 8s;
}

@keyframes circle {
  0%{
    perspective: 400px;
    height: 100%;
  width: 28%;
  border-radius: 10px;
  transform: rotateY(0deg);
  }
  25%{
    height: 110%;
    perspective: 400px;
    width: 30%;
    border-radius: 12px;
    transform: rotateY(90deg);
    background-color: var(--blue-color);
    color: white;
    font-size: 13px;
  }
  50%{
    height: 120%;
    perspective: 400px;
    width: 35%;
    border-radius: 12px;
    transform: rotateY(180deg);
    background-color: var(--light-yellow);
    color: black;
    font-size: 14px;
  }
  75%{
    height: 130%;
    width: 40%;
    perspective: 400px;
    border-radius: 12px;
    transform: rotateY(270deg);
    background-color: var(--pinkish-color);
    font-size: 15px;
  }
  100%{
    height: 140%;
    perspective: 400px;
    width: 45%;
    border-radius: 12px;
    transform: rotateY(360deg);
    background-color: var(--blue-color);
    color: white;
    font-size: 16px;
  }
  75%{
    height: 110%;
    width: 30%;
    perspective: 400px;
    border-radius: 12px;
    transform: rotateY(270deg);
    background-color: var(--light-yellow);
    color: black;
    font-size: 15px;
  }
  50%{
    height: 120%;
    width: 35%;
    border-radius: 12px;
    transform: rotateY(180deg);
    background-color: var(--blue-color);
    color: white;
    font-size: 14px;
  }
  25%{
    height: 110%;
    width: 30%;
    border-radius: 12px;
    transform: rotateY(90deg);
    background-color: var(--light-yellow);
    color: black;
    font-size: 13px;
  }
  
  0%{
    height: 110%;
    width: 30%;
    border-radius: 12px;
    transform: rotateY(0deg);
  }
}
.projectlist {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, auto);
  background-color: #ffe8e8;
  gap: 2rem;
  padding: 1rem;
}

.projectlist > div {
  background-color: white;
  border-radius: 10px;
  border: black solid 2px;
}
.Projectcard{
 width: 100%;
  position: relative;
}
.Projectimage{
  width: 100%;
  display: block;
  object-fit: cover;
}

.Projectoverlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #008CBA;
}
.Projectcard:hover .Projectoverlay{
  opacity: 1;
  transform: rotate3d(90deg);
}
.Projecttext{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* ----------------------------------------------------------------projects end here ----------------------- */

@media only screen and (max-width: 800px) {

  /* ////////////////////////////////header responsive //////////////////// */
  header {
    display: flex;
    flex-direction: column;
    background-image: none;
  }
  .logo {
    width: 99%;
    display: block;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
    border-bottom: solid;
  }
  .logo h2 {
    display: none;
  }
  .imglogo {
    width: 30%;
    border-radius: 40px;
  }
  nav ul {
    display: none;
  }

  #mobilebtn {
    display: block;
    border: none;
    padding: 1rem;
    background-color: transparent;
  }
  #mobilebtn span {
    background-color: black;
    color: white;
  }

  bg span {
    background: #f5f3c4;
    color: black;
  }
  nav.responsive ul {
    display: block;
    border-radius: 10px;
    width: 99%;
    position: absolute;
    left: 0;
    /* top: 80px; */
    background: white;
    color: black;
  }

  nav.responsive ul li {
    display: block;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #546cac;
  }

  nav.responsive ul li a {
    color: black;
    display: block;
    padding: 0px;
  }

  nav.responsive ul li:hover {
    background: #546cac;
    color: white;
    display: block;
  }
  .bannerintro h1{
    font-size: large;
    padding-top: 4rem;
  }

/* //////////////////////////////////header ends////////////////////  */

/* //////////////////////////////////////////////////////////////project start /////// */
.statistics2mobile{
display: grid;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, 90px);
      grid-auto-flow: row dense;
      width: 100%;
      grid-gap: 0px;
}
.statisticsdiv{
  flex-direction: column;
  width: 100%;
}
.circle{
  border-radius: 20px;
}
.projectlist{
  grid-template-columns: auto;
      /* grid-template-rows: repeat(6, 10vh); */
      grid-auto-flow: row dense;
      width: 100%;
      grid-gap: 7px;
}
/* /////////////////////////////////////////////projects ends ///////////////////// */

/* /////////////////////////////////////media and gallery //////////////// */



/* ////////////////////////////////////media and gallery ends  ///////////////// */
/* ////////////////////////////// Contact page /////////////////// */
.message,
.msginputside,
.user-box
{
  display: flex;
  flex-direction: column;
  padding: revert;
  width: 100%;
}
.user-box > input, .user-box > label{
  width: 100%;
}
h2{
  text-align: center;
}
textarea{
  width: 98%;
}
}

