#msgP
{
    background-color: red;
    font-weight: bolder;
    text-align: center;
    width:25%;
}
body{
    background: #e2e4e4;
    margin: 0 0.5 0.5 0;
}
p{
    color:rgb(171, 171, 195);
    text-align:center;
}
